/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importa fuente local */

@font-face{
    font-family: Allerta-Regular;
    src: url(../assets/fonts/Allerta-Regular.ttf);
}


/* Cuerpo Principal, BG y Footer */

body{
    
    font-family: Allerta-Regular;
    letter-spacing: 2px;
    background-color: black;
}

main{
    color: #CECECE;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

footer{
    
    text-align: center;
    padding: 10px;
    background-color:#7676763f ;
    display: flex;
    justify-content: center;
    font-size: 12px;
    flex-direction: column;
    color: #CEFF51;
    font-style: italic;
    margin: 10px auto;
}

/* Derechos reservados del Footer */

.teslaArms{
    max-width: 500px;
    margin: 10px auto;
}

.teslaArms_rights{
    max-width: 500px;
    margin: 10px auto;
    font-size: 10px;
}

/* Logo */

.logo, .logo-section{
    background-color: #7676763f;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.logo_arms:hover{
    transform: scale(1.05);
    border: #CEFF51 2px solid;
    max-height: 126px;
    animation-name: logo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.logo-section{
    background: none;
    width: 20%;
    transition-property: width;
    transition-duration: 2s;
}

.logo-section:hover{
    width: 30%;
}

/* nav */

nav{
    font-size: 25px;
    z-index: 1;
}

.nav-link{
    color: #CEFF51;
}

.nav-link:hover{
    color: white;
    border-bottom: #CEFF51 2px solid;
    animation-name: borde;
    animation-duration: 1s;
}


/* Titulares, secciones, textos y contenido*/

.titular{
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 1.3rem;
}
.titular2{
    color: #CECECE;
    text-align: center;
    padding: 20px 20px;
    font-size: 22px;
}

.titular-bg{
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 400px;
    margin: auto;
}

.titular-bg-sub{
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin: auto;
}

.textos{
    max-width: 700px;
    margin: auto;
    overflow-x: auto;
}

.row{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
}
/* Estilo de imagenes y bg none */

.carousel{
    margin: auto;
    width: 60%;
    max-width: 700px;
}

.nbg{
    background-image: none;
}

/* Productos y Accesorios */

.armas .foto_arma img, .accesorios .accesorio img{
    background: rgba(0, 0, 0, 0.9);
    width: 90%;
    margin: 30px auto 0;
    padding: 20px;
    height: 250px;
    width: auto;
}

.foto_arma{
    margin-right: 15px;
}

.armas, .accesorios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 35px;
}

.descripcion {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    color: #CEFF51;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.9);
    border: #CEFF51 1px solid;
    border-radius: 5px;
    margin-bottom: 25px;
}

/* Formulario BS */


.formulario{
    background-color: rgba(0, 0, 0, 0.699);
    width: 90%;
    margin: auto;
    max-width: 700px;
    padding: 5px 20px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    text-align: center;

}
.textarea{
    background: #cecece31;
    border: none;
    outline: none;
    border-bottom: 2px solid #CEFF51;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 13px;
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}

.btn-yellow{
    width: 40%;
    outline: none;
    background: #ceff518f;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

/* Keyframes */

@keyframes logo {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: green;
    border: green 5px solid;}
}

@keyframes borde {
    from {border-bottom: #ceff5100 2px solid;}
    to {border-bottom: #CEFF51 2px solid;}
}


