$color_principal: #CEFF51;

@font-face{
    font-family: Allerta-Regular;
    src: url(../assets/fonts/Allerta-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'body';
@import 'header';
@import 'main';
@import 'footer';

.nbg{
    background-image: none;
}

@keyframes borde {
    from {border-bottom: #ceff5100 2px solid;}
    to {border-bottom: $color_principal 2px solid;}
}

